.about-me {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

.about-me__welcome {
  background: linear-gradient(transparent, black 90%),
    no-repeat center url(/header.jpg), black;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 1rem;
  align-items: end;

  transition: 0.3s ease-in-out;

  h1 {
    color: white;
    font-size: 4rem;
    margin: 1rem 2rem;

    animation: introduction 1s ease-out;
  }

  .find-out-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 50%;
    transform: translateY(3rem);
    &:hover {
      transform: translateY(1rem);
      transition: ease-in 0.2s;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
  }

  p.find-out-more__btn {
    color: white;
    font-size: 10rem;
    opacity: 0;
    transform: rotateX(70deg);

    animation: point-down 2s ease-out 3s 2 forwards;
  }

  p.find-out-more__text {
    color: white;
    font-size: 3rem;
    transform: translateY(3rem);
    text-align: center;
    line-height: 2.5rem;
    opacity: 0;
    animation: attract 1s ease-out 4 forwards;

    &:hover {
      opacity: 0.9;
    }
  }

  @media (max-width: 775px) {
    h1 {
      top: 90%;
      font-size: 2rem;
    }
  }
}

.about-me__more {
  width: 100%;

  @include display-flex();
  flex-direction: column;

  > div {
    @include display-flex();
    flex-direction: column;
    position: relative;
    margin: 5rem 0;

    img {
      object-fit: cover;
      max-width: 80%;
      height: 500px;
    }

    .image-matlab {
      object-fit: contain;
    }

    .image-even {
      position: relative;
      left: 20%;
    }

    .image-overlay {
      @include display-flex();

      width: 200%;
      height: 500px;
      position: absolute;
      z-index: 1;
      transition: ease-in-out 0.5s;

      background: linear-gradient(
        black 1%,
        rgba(0, 0, 0, 0.5) 5%,
        transparent,
        rgba(0, 0, 0, 0.5) 95%,
        black 99%
      );

      div {
        position: relative;
        @include display-flex();
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 1rem;

        .image-overlay--title {
          padding: 0;
          margin: 0;
          display: inline-block;

          transform-origin: center;
          transform: rotate(90deg) translateY(-200px);

          width: 450px;
          text-align: center;

          font-size: 3rem;
        }
      }

      .image-even--text {
        justify-content: flex-start;
        order: 1;
        > .image-overlay--title {
          transform: rotate(270deg) translateY(-200px);
          transform-origin: center;
        }
      }

      .image-overlay--text {
        width: 100%;
        padding: 2rem 5rem;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .image-overlay:hover {
      transform: translateX(-45%);
      transition: ease-in-out 1s;
    }

    .image-overlay--even {
      transform: translateX(-50%);
      .image-overlay--text {
        padding-left: 10rem;
      }
    }

    .image-overlay--even:hover {
      transform: translateX(-5%);
    }
  }
}

//JS

.disappear-up {
  opacity: 0;
  transform: translateY(-10%);
}
