.cvContainer {
  height: 100%;
  width: 100%;
  padding: 0.8rem;

  display: grid;
  grid-template-columns: 3fr 2fr;

  div {
    border-top: black solid 1px;

    &:not(:first-of-type) {
      grid-column: 1/-1;
    }

    h1 {
      margin: 0 0 0 0.2rem;
    }
  }
}

.cv__profile--image {
  max-width: 20rem;
  width: 100%;
  border-radius: 5%;
  justify-self: end;
  align-self: start;
}
