@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  height: 99vh;

  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: auto 4rem;
  grid-gap: 0.25rem;
}

/* NAV ITEMS */
nav {
  z-index: 2;
}

.nav {
  height: 100%;
}

.extend-menu {
  display: none;
}

.nav__links {
  height: 100%;
  padding: 25% 0;
  width: 100%;
  list-style: none;

  @include display-flex();
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;
}

.nav__link {
  &:link,
  &:visited {
    font-size: 2rem;
    padding: 0 0.5rem;
    margin: 0 1rem;
    color: inherit;
    text-decoration: none;
    transition: all 1s ease-out;
  }
}

.nav__cv {
  &:link,
  &:visited {
    border: black solid 0.5rem;
    border-radius: 0.5rem;
    padding-right: 8rem;
    background-color: black;
    color: white;
  }

  &:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.3s;
  }
}

.toggle-button {
  display: none;
}

.overlay {
  // display:none;
  top: 0rem;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(100% - 6rem);
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

main {
  padding: 0;
  border: 0.25rem black solid;
  border-radius: 0.45rem;
  height: 95%;
  overflow: hidden;
}

/* GENERAL ELEMENTS */
#welcome {
  background: linear-gradient(transparent, black 90%),
    no-repeat center url(/header.jpg), black;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 1rem;
  align-items: end;

  h1 {
    color: white;
    font-size: 4rem;
    margin: 1rem 2rem;

    animation: introduction 1s ease-out;
  }

  .find-out-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 50%;
    transform: translateY(3rem);
    &:hover {
      transform: translateY(1rem);
      transition: ease-in 0.2s;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
  }

  p.find-out-more__btn {
    color: white;
    font-size: 10rem;
    opacity: 0;
    transform: rotateX(70deg);

    animation: point-down 2s ease-out 3s 2 forwards;
  }

  p.find-out-more__text {
    color: white;
    font-size: 3rem;
    transform: translateY(3rem);
    text-align: center;
    line-height: 2.5rem;
    opacity: 0;
    animation: attract 1s ease-out 4 forwards;

    &:hover {
      opacity: 0.9;
    }
  }
}

.about-me {
  height: 100%;
  width: 100%;
  // background-color: black;
  @include display-flex();
  justify-content: center;

  div {
    margin: 0.5rem;
    padding: 2rem;
    border: black 0.5rem solid;
    width: 33%;
    @include display-flex();
    flex-direction: column;
    align-items: center;

    img {
      position: relative;
      top: -2.5rem;
      // left: -3rem;
      width: calc(100% + 5rem);
    }
  }

  @media (max-width: 1100px) {
    flex-direction: column;

    div {
      width: auto;
      height: 33%;
      flex-direction: row;

      img {
        top: 0;
        left: -2.5rem;
        width: auto;
        height: calc(100% + 5rem);
      }
    }
  }
}

.my-places {
  -webkit-transform: skew(0);
  transform: skew(30deg) rotateZ(50deg) scale(2);
}

/*BLOG VIEW*/
.blog-container {
  height: 100%;
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-rows: 4rem auto;
  grid-gap: 0.5rem;
  justify-content: center;

  h1 {
    margin: 0;
    grid-column: 1/-1;
  }
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;

  /* overflow: scroll; */
  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width: 1100px) {
    grid-template-columns: 100%;
  }
}

.blog-post {
  margin: 0.5rem;
  border: black 1px solid;
  border-radius: 0.5rem;

  @include display-flex();
  flex-direction: column;

  height: fit-content;
  overflow: hidden;

  max-width: 750px;

  img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  p {
    margin: 0;
    padding: 0.5rem;
    color: rgb(48, 47, 47);
    cursor: pointer;
  }
}

.blog-post-text__container {
  position: relative;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  max-width: 1400px;

  @include display-flex();
  flex-direction: column;

  h1 {
    margin: 0;
  }

  .blog-post-text__container--close {
    position: fixed;
    right: 4%;
    top: 0;
    margin: 0;
    padding: 0.5rem;

    font-size: 4rem;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

//FOOTER

footer {
  background-color: black;
  padding: 1rem;
  grid-column: 1/-1;
}

.footer__nav {
  width: 100%;
  list-style: none;
  padding: 0 0 0 5%;
  margin: 0;

  @include display-flex();
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  padding: 0 1rem;

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }

  &:last-of-type {
    padding-left: 40%;
    // padding-left: 30rem;
  }
}

//ICONS

.facebook {
  fill: #4267b2;
  margin: 0 1rem 0 0;
}

.linkedin {
  fill: #0e76a8;
  margin: 0 1rem 0 0;
}

.instagram {
  fill: white;
  margin: 0 1rem 0 0;
}

/*MOBILE VIEW*/

@media (max-width: 775px) {
  footer {
    display: none;
  }

  body {
    grid-template-columns: auto;
    grid-template-rows: auto 4rem;
  }

  main {
    grid-row: 1/2;
  }

  .nav {
    grid-row: 2/3;
  }

  .extend-menu {
    display: block;
    position: fixed;
    bottom: 5.5rem;
    right: 2rem;
    z-index: 2;

    width: 12rem;

    background: white;
    border-bottom: black solid 0.5rem;
  }

  .extend-menu__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 0;
  }

  .extend-menu__item {
    list-style: none;
    padding: 0.5rem 0;
  }

  .extend-menu__link {
    text-decoration: none;
    color: black;
  }

  .mobile__hidden {
    display: none;
  }

  .nav__links {
    height: initial;
    padding: initial;
    margin: 0;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav__link {
    &:link,
    &:visited {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
  }

  .nav__cv {
    &:link,
    &:visited {
      border: none;
      width: auto;
      padding: auto;
      background: none;
      color: black;
    }
  }

  .toggle-button {
    @include display-flex();
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;

    p {
      font-size: 2rem;
      margin: 0;
      padding: 0;
      line-height: 0.5rem;
      transform: translateY(-0.5rem);
    }
  }

  .toggle-button:focus {
    outline: none;
  }

  #welcome h1 {
    top: 90%;
    font-size: 2rem;
  }

  .instagram {
    fill: black;
  }
}

//FOR JAVASCRIPT

.hidden {
  display: none;
}

@keyframes introduction {
  0% {
    transform: translateY(-1000%) rotateX(70deg);
  }
  33% {
    transform: translateY(100%) rotateX(70deg);
  }
  50% {
    transform: translateY(-100%) rotateX(10deg);
  }
  66% {
    transform: translateY(50%) rotateX(70deg);
  }
  90% {
    transform: translateY(-50%) rotateX(10deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes point-down {
  0% {
    opacity: 0.5;
    transform: translateY(0) rotateX(70deg);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-15%) rotateX(70deg) rotateY(360deg);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0) rotateX(70deg) rotateY(360deg);
  }
}

@keyframes attract {
  0% {
    opacity: 0.5;
    transform: translateY(3rem);
  }
  33% {
    opacity: 0.25;
    transform: translateY(3rem);
  }
  66% {
    opacity: 0.5;
    transform: translateY(3rem);
  }
  100% {
    opacity: 0.5;
    transform: translateY(3rem);
  }
}

@import "github";
@import "cv";

/* OLD CODE FROM V1*/

/* #map {
    height: 80vh;
    width: 80vw;
    transform: translateX(-3rem);
  } */

/* .modal {
    position: fixed;
    z-index: 200;
    top: 7vh;
    left: 1vw;
    width: 95vw;
    height: 90vh;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
  }
  
  .modal::-webkit-scrollbar {
    display: none;
  }
  
  .btn__close--modal {
    position: fixed;
    z-index: 200;
    right: 0vw;
    top: -1vh;
  
    cursor: pointer;
    background: transparent;
    font-size: 3rem;
  }
  
  .slider {
    overflow: hidden;
    height: 50vh;
  }
  
  .slide {
    position: relative;
    @include display-flex();
  
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
    text-align: center;
  
    transition: transform 1s;
  }
  
  .slide img {
    width: 20rem;
    justify-content: center;
  }
  
  .slide p {
    display: inline;
    width: 100%;
    font-weight: 800;
    font-size: 3rem;
  }
  
  .section--education {
    position: sticky;
    height: 100%;
    width: 100%;
    border-top: 2px black solid;
    align-content: center;
  }
  
  .education__container {
    position: relative;
    display: inline-block;
    top: 1rem;
    left: 5%;
    height: 90%;
    width: 20%;
    padding: 1rem;
    margin: 0rem 1rem 0rem 1rem;
    border: grey solid 2px;
    text-align: center;
    align-content: center;
  }
  
  .overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hidden {
    display: none;
  }
  
  .no__scroll {
    overflow: hidden;
  } */
