@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;

  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: auto 4rem;
  grid-gap: 0.25rem;
}

/* NAV ITEMS */

.nav {
  height: 100%;
}

.nav__links {
  height: 100%;
  padding: 25% 0;
  width: 100%;
  list-style: none;

  @include display-flex();
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__link {
  &:link,
  &:visited {
    font-size: 2rem;
    padding: 0 0.5rem;
    margin: 0 1rem;
    color: inherit;
    text-decoration: none;
    transition: all 1s ease-out;
  }
}

.nav__cv {
  &:link,
  &:visited {
    border: black solid 0.5rem;
    border-radius: 0.5rem;
    width: 7rem;
    /* height: 4rem; */
    background-color: black;
    color: white;
  }
}

main {
  margin: 0.5rem;
  border: 0.25rem black solid;
  border-radius: 0.45rem;
  height: 95%;
  max-height: 90vh;

  @include display-flex();
  justify-content: center;
  align-items: center;
}

/* GENERAL ELEMENTS */
#welcome {
  position: relative;
  background: linear-gradient(transparent, black 90%),
    no-repeat center url(/header.jpg), black;
  background-size: cover;
  height: 100%;
  width: 100%;

  h1 {
    color: white;
    position: absolute;
    top: 85%;
    left: 2%;
    font-size: 4rem;

    animation: introduction 1s ease-out;
  }
}

footer {
  background-color: black;
  padding: 1rem;
  grid-column: 1/-1;
}

.footer__nav {
  width: 75%;
  list-style: none;
  margin: auto;

  @include display-flex();
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  padding: 0 1rem;

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
}

.my-places {
  -webkit-transform: skew(0);
  transform: skew(30deg) rotateZ(50deg) scale(2);
}

/*BLOG VIEW*/
.blog-container {
  height: 100%;
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template-rows: 4rem auto;
  grid-gap: 0.5rem;

  h1 {
    margin: 0;
    grid-column: 1/-1;
  }
}

.blog-posts {
  @include display-flex();
  flex-direction: column;
  flex-flow: row wrap;

  justify-content: center;
  justify-items: center;

  width: 100%;
  height: 100%;

  /* overflow: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
}

.blog-post {
  margin: 0.5rem;
  border: black 1px solid;
  border-radius: 0.5rem;
  width: 45%;
  height: 50rem;

  max-width: 500px;

  img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  p {
    margin: 0;
    padding: 0.5rem;
    color: rgb(48, 47, 47);
    cursor: pointer;
  }

  @media (max-width: 1100px) {
    width: 95%;
  }
}

.blog-post-text__container {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

/*MOBILE VIEW*/

@media (max-width: 775px) {
  footer {
    display: none;
  }

  body {
    grid-template-columns: auto;
    grid-template-rows: auto 2.5rem;
  }

  main {
    grid-row: 1/2;
  }

  .nav {
    grid-row: 2/3;
  }

  .nav__links {
    height: initial;
    padding: initial;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav__link {
    &:link,
    &:visited {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
  }

  .nav__cv {
    &:link,
    &:visited {
      border: none;
      width: auto;
      background: none;
      color: black;
    }
  }

  .toggle-button {
    width: 3rem;
    background: black;
    border: black 1px solid;
    border-radius: 0.2rem;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }

  .toggle-button:focus {
    outline: none;
  }

  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
  }

  #welcome h1 {
    top: 90%;
    font-size: 2rem;
  }
}

@keyframes introduction {
  0% {
    transform: translateY(-1000%);
  }
  33% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(50%);
  }
  90% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

/* OLD CODE FROM V1*/

/* #map {
    height: 80vh;
    width: 80vw;
    transform: translateX(-3rem);
  } */

/* .modal {
    position: fixed;
    z-index: 200;
    top: 7vh;
    left: 1vw;
    width: 95vw;
    height: 90vh;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
  }
  
  .modal::-webkit-scrollbar {
    display: none;
  }
  
  .btn__close--modal {
    position: fixed;
    z-index: 200;
    right: 0vw;
    top: -1vh;
  
    cursor: pointer;
    background: transparent;
    font-size: 3rem;
  }
  
  .slider {
    overflow: hidden;
    height: 50vh;
  }
  
  .slide {
    position: relative;
    @include display-flex();
  
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
    text-align: center;
  
    transition: transform 1s;
  }
  
  .slide img {
    width: 20rem;
    justify-content: center;
  }
  
  .slide p {
    display: inline;
    width: 100%;
    font-weight: 800;
    font-size: 3rem;
  }
  
  .section--education {
    position: sticky;
    height: 100%;
    width: 100%;
    border-top: 2px black solid;
    align-content: center;
  }
  
  .education__container {
    position: relative;
    display: inline-block;
    top: 1rem;
    left: 5%;
    height: 90%;
    width: 20%;
    padding: 1rem;
    margin: 0rem 1rem 0rem 1rem;
    border: grey solid 2px;
    text-align: center;
    align-content: center;
  }
  
  .overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hidden {
    display: none;
  }
  
  .no__scroll {
    overflow: hidden;
  } */
